

body {
	font-family: big caslon;
	margin: 0;
	color: #595959;
}
h3 {
	font-size: 10px;
	letter-spacing: .5px;
	margin: 0px;
}

.navigate {
	margin: auto;
	display: flex;
	align-content: space-around;
	width: 100%;
	padding-top: 60px;
	max-width: 460px;
}

.navLink {
	padding: 0 40px;
}

.navLinkAlt {
	padding: 20px 15px;
}

a {
	color: black;
	text-decoration: none;
	transition: text-decoration 2s;
}

a:hover {
	text-decoration: underline;
}
.navBox {
	display: flex;
	margin: auto;
}

.landingText {
	text-align: center;
	letter-spacing: 1px;
	line-height: 33px;
	font-size: 24px;
}

.landingQuote {
	margin: 40px auto;
}

#landingImg {
	max-width: 779px;
	width: 100%;
	height: 360px;
	margin: 0 auto;
	background-image: url(img/palm2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.landingImage {
	margin: 20px auto;
	display: flex;
}

img {
	height: auto;
	max-width: 100%;
}

.aboutParagraph {
	
}

.aboutContainer {
	display: flex;
	margin: 0 auto;
}

.aboutBox2 {
	max-width: 540px;
}

.big1 {
	font-size: 100px;
	font-family: helvetica;
	margin: -20px 0 0 0;
}

.aboutBox1 {
	max-width: 140px;
}

.aboutContaidner {
	
}

h2 {
	margin: 0;
}

.landingAbout {
	display: flex;
	margin: 60px;
}

.footerText {
	text-align: center;
}

.footer {
	background-image: url(img/footTile.png);
	background-repeat: repeat;
	padding: 20px;
}

p {
	margin: 0;
}

.aboutHead {
	margin-bottom: 10px;
}

.homeLink {
	margin: 0;
	padding: 20px;
}

.portfolioTile {
	height: 279px;
	width: 380px;
	background-color: gray;
	margin: 10px;
}

.tileRow {
	display: flex;
	margin: 0 auto;
}

#palm01 {
	background-image: url(img/palm6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#palm02 {
	background-image: url(img/palm4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#palm03 {
	background-image: url(img/palm8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#palm04 {
	background-image: url(img/palm7.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.portfolioTiles {
}

.tileContainer {
	margin: 0 auto;
}

.tileSubtext {
	background-color: white;
	padding:5px 20px;
	text-align: right;
	max-width: 50px;
	float: right;
	font-size: 8px;
}

.contactBox {
	background-color: white;
	width: 380px;
	margin: 100px auto;
	padding: 40px 20px;
}

.contactWrap {
	display: flex;
	background-image: url(img/palm1.jpg);
	background-size: cover;
	background-repeat: no;
}

.contactHeader {
	margin: 0
}

.contactNav {
	padding-right: 10px;
}

.contactField {
	margin: 10px auto 5px;
}

.contactForm {
	background-color: #D7D7D7;
	font-size: 8px;
	padding: 5px;
}

.contactForm2 {
	background-color: #D7D7D7;
	font-size: 8px;
	padding: 5px 5px 90px 5px;
}

.btn {
	font-size: 8px;
	font-family: helvetica neue;
	border: solid black .5px;
	padding: 5px;
	text-align: center;
}

.btnWrap {
	max-width: 50px;
	margin: 15px 0;
}
