body {
    margin: 0;
    font-family: helvetica;
    background-color:#E3F2FD;
}

.navLink {
    font-size: 16px;
    margin: 23px 2px;
    padding: 3px 15px;
    float: right;
}

.navigate {
    display: block;
    background-color: white;
    border-bottom: 5px solid rgba(64, 67, 78, .3);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.mainHead {
    padding: 20px;
    font-size: 30px;
    float: left;
    background-color: #DB5461;
    font-style: italic;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #DB5461;
}

.navBox {
    max-width: 900px;
    margin: 0 auto;
}

.content {
    max-width: 852px;
    padding: 20px;
    background-color: white;
    margin: 40px auto 130px;
    border-left: 5px solid #40434E;
}

.contentSm {
    max-width: 605px;
    padding: 20px;
    background-color: white;
    margin: 40px auto 130px;
    border-left: 5px solid #40434E;
}

.aboutParagraph {
    padding-left: 20px;
}

.palmEdit {
    height: 252px;
    width: 280px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contentRow {
    display: flex;
    margin-bottom: 28px;
}

p {
    font-size: 16px;
    line-height: 29px;
}

.navLink1 {
    border-left: 1px solid #40434E;
}

.navLink2 {
    border-left: 1px solid #40434E;
    border-right: 1px solid #40434E;
}

.navLink3 {
    border-right: 1px solid #40434E;
}

h2 {
    font-size: 24px;
    padding-bottom: 13px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.footer {
    background-color: #40434E;
    border-top: 5px solid #DB5461;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerText {
    text-align: center;
    color: white;
}

.notResponsible {
    font-size: 5px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 3px;
}

.sm {
    max-width: 650px;
}

.thumbnail {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.thumbnailType {
    background-color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 250px;
}

#thumbnail1 {
    background-image: url(img/palm2.jpg);
    margin-bottom: 20px;
}

#thumbnail2 {
    background-image: url(img/palm3.jpg);
    margin-left: 20px;
    margin-bottom: 20px;
}

#thumbnail3 {
    background-image: url(img/palm4.jpg);
    margin-bottom: 20px;
}

#thumbnail4 {
    background-image: url(img/palm5.jpg);
    margin-left: 20px;
    margin-bottom: 20px;
}

#thumbnail5 {
    background-image: url(img/palm.jpg);
}

.thumbnailRow {
    display: flex;
}

input {
    width: 100%;
    margin: 5px 0;
}

.inputChunk {
    margin: 5px 0 10px;
}

.submit {
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #DB5461;
    text-align: center;
}

.button {
    width: 75px;
    margin-top: 15px;
}

.messageBox {
    height: 100px;
}